body{
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 800px;

}

.fotopersonagem {
    height: 371px;
    width: 660px;
}

#yonehead {
    height: 720px;
    width: 1080px;
}